html, body {
  height: 100%;
  overflow-x: hidden;
  /* overflow: scroll; */
  -webkit-overflow-scrolling: touch;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex: 1 0 auto;
  /* align-items: center; */
  /* justify-content: center; */
}
.footer {
  flex-shrink: 0;
}
.post-img {
  position: relative;
  opacity: 1;
  z-index: 1;
}
.faded {
  background-color: rgba(17, 17, 17, 0.9);
}

.faded-lightest-blue {
  background-color: rgba(205, 236, 255, 0.9);
  /* background-color: rgba(53, 126, 221, 0.9); */
}

.faded-near-white {
  background-color: rgba(244, 244, 244, 0.9);
}

/******************************************
** plyr.io
*******************************************/

.plyr--full-ui input[type=range] {
  color: #96CCFF;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  background: #96CCFF;
  color: #333333;
}

/******************************************
** collapsible for FAQ
*******************************************/

.collapsible {
  background-color: rgba(17, 17, 17, 0.9);
  /* color: white; */
  cursor: pointer;
  /* padding: 18px; */
  /* width: 100%; */
  /* border: none; */
  /* text-align: left; */
  outline: none;
  /* font-size: 15px; */

}

.active, .collapsible:hover {
  background-color: rgba(205, 236, 255, 1);
  color: #111;
}

.collapsible:before {
  transition: 0.5s transform ease-in-out;
  transform: rotate(0deg);
  content: '\002B';
  /* color: #111; */
  /* font-weight: bold; */
  float: left;
  margin-right: 5px;
}

.active:before {
  transition: 0.5s transform ease-in-out;
  transform: rotate(45deg);
  /* float: left; */
  /* content: "\2212"; */
}

.content-collapse {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* background-color: #f1f1f1; */
}
