html, body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}
.footer {
  flex-shrink: 0;
}

.post-img {
  position: relative;
  opacity: 1;
  z-index: 1;
}

.faded {
  background-color: rgba(17, 17, 17, 0.9)
}

/******************************************
** plyr.io
*******************************************/

.plyr--full-ui input[type=range] {
  color: #96CCFF;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  background: #96CCFF;
  color: #333333;
}