<article class="">
  <a class="db pv0 ph0-l no-underline near-white
            bg-animate hover-bg-lightest-blue hover-near-black"
      href="{{.URL}}">
    <div class="pa2-ns ma2-ns pa1 pl0 pr0">
      <h2 class="lh-title mb1 mt1 f3-l f4">{{.Title}}</h2>
      <div class="f6 db silver">
        <time>{{ dateFormat "Jan 2, 2006" .Date }}</time>
        ◇ {{ .ReadingTime }} min read</span>
      </div>
      <!-- <time class="f6 db silver">{{ dateFormat "Jan 2, 2006" .Date }}</time> -->
      <!-- <span class="f6 db silver">* {{ .ReadingTime }} min read</span> -->
      <p class="lh-copy f5-ns f6 athelas">
        {{.Summary}}
        <!-- {{ if .Truncated }} <span class="i">(...more...)</span>{{end}} -->
      </p>
    </div>
    <div class="bt b--white-80"></div>
  </a>
</article>
