{{ partial "header" . }}
  {{ .Content }}
  <section class="mw7-ns center avenir near-white bg-near-black o-90 w-90 pa4 mt4">
    <h1 class="ttu tracked mt0 f2-ns f3 mb3">Blog Posts</h1>
    <div class="bt b--white-80"></div>
    <!-- {{ range .Pages }}
    {{ .Render "li" }}
    {{ end }} -->

    {{ $paginator :=  .Paginator }}
    {{ range ($paginator).Pages}}
      {{ .Render "li" }}
    {{ end }}

    <!-- {{ template "_internal/pagination.html" . }} -->
    {{ partial "pagination.html" ($paginator) }}

<!-- <a href="{{.URL}}">{{.Title}}</a>
</div>
  <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  <p style="font-size:18px;">{{.Summary}}</p>
</div> -->

  </section>
</div>
{{ partial "footer" . }}
</body>
</html>
