{{ partial "header" . }}
  {{ .Content }}
  <section class="mw7-ns center avenir near-white bg-near-black faded w-90 pa4 mt4">
    <div class="cf">
      <div class="fl w-100 w-50-ns">
        <h1 class="ttu tracked mt0 f2-ns f3 mb3-ns pb0 mb0">Blog Posts</h1>
      </div>
      <div class="fl w-100 w-50-ns tr-ns">
        <a class="link near-white hover-bg-lightest-blue hover-near-black dib ph2" href="/tags"><h2 class="f7 ttu">View All Posts by #tag</h2></a>
      </div>
    </div>
    <div class="bt b--white-80"></div>
    {{ $paginator :=  .Paginator }}
    {{ range ($paginator).Pages}}
      {{ .Render "li" }}
    {{ end }}
    {{ partial "pagination.html" ($paginator) }}
  </section>
</div>
{{ partial "footer" . }}

<script>

  articles = Array.from(document.getElementsByClassName('article'));

  articles.forEach(el => {
    el.addEventListener('mouseenter', () => {
      hovers = Array.from(el.querySelectorAll('.hover-script'));
      hovers.forEach(el => el.classList.remove('bg-lightest-blue'));
      hovers.forEach(el => el.classList.add('bg-dark-gray', 'near-white'));
      el.querySelector('.tag-icon').style.fill = "#333333";
    });
    el.addEventListener('mouseleave', () => { 
      hovers = Array.from(el.querySelectorAll('.hover-script'));
      hovers.forEach(el => el.classList.remove('bg-dark-gray', 'near-white'));
      hovers.forEach(el => el.classList.add('bg-lightest-blue'));
      el.querySelector('.tag-icon').style.fill = "#CDECFF";
    });
  });

</script>

</body>
</html>
