<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{ .Title }}</title>
</head>
<body class="" style="background: url(/images/bg.jpg) no-repeat center center fixed; background-size: cover;">
  {{ partial "header" (dict "Kind" .Kind "Template" "List") }}
  {{.Content}}
  <section class="mw7-ns center avenir near-white bg-near-black o-90 w-90 pa4 mt4">
    <h1 class="ttu tracked mt0 f2-ns f3 mb3">Blog Posts</h1>
    <div class="bt b--white-80"></div>
    {{ range .Pages }}
    <article class="">
      <a class="db pv0 ph0-l no-underline near-white
                bg-animate hover-bg-lightest-blue hover-near-black"
          href="{{.URL}}">
        <div class="pa2-ns ma2-ns pa1 pl0 pr0">
          <h2 class="lh-title mb1 mt1 f3-l f4">{{.Title}}</h2>
          <div class="f6 db silver">
            <time>{{ dateFormat "Jan 2, 2006" .Date }}</time>
            ◇ {{ .ReadingTime }} min read</span>
          </div>
          <!-- <time class="f6 db silver">{{ dateFormat "Jan 2, 2006" .Date }}</time> -->
          <!-- <span class="f6 db silver">* {{ .ReadingTime }} min read</span> -->
          <p class="lh-copy f5-ns f6 athelas">
            {{.Summary}}
            <!-- {{ if .Truncated }} <span class="i"><br>(...more...)</span>{{end}} -->
          </p>
        </div>
        <div class="bt b--white-80"></div>
      </a>
    </article>

<!-- <a href="{{.URL}}">{{.Title}}</a>
</div>
  <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

  <p style="font-size:18px;">{{.Summary}}</p>
</div> -->

    {{ end }}
  </section>
  {{ partial "footer" . }}
</body>
</html>
