{{ partial "header" . }}

  <main class="mw7-ns center avenir near-white bg-near-black faded w-90 pa4 mt4">

    <div class="center measure">
      <h2 class="lh-title mb1 mt1 f3-l f4">{{.Title}}</h2>
      <div class="f6 db silver">
        <time>{{ dateFormat "Jan 2, 2006" .Date }}</time>
        ◇ {{ .ReadingTime }} min read</span>
      </div>
      {{ partial "tags" . }}
      <div class="athelas lh-copy f5-ns f6" id="post-content">
        {{.Content}}
      </div>
    </div>

    <div class="bt pa2 f5-ns f6 cf">
      {{ if .PrevInSection }}
        <a class="link light-blue bg-animate hover-bg-lightest-blue hover-near-black pl2 pr2 fl" href="{{ .PrevInSection.URL }}">← {{ .PrevInSection.Title }}</a>
      {{end}}
      {{ if .NextInSection }}
        <a class="link light-blue bg-animate hover-bg-lightest-blue hover-near-black pl2 pr2 fr" href="{{ .NextInSection.URL }}">{{ .NextInSection.Title }} →</a>
      {{ end }}
    </div>
    <div class="bt pt3" id="graphcomment"></div>
  </main>

  <script type="text/javascript">
    /* Style all the links in {{.Content}} */
    var links = document.getElementById("post-content").getElementsByTagName("a");
    for (var i = 0; i < links.length; i++) {
      links[i].className = "link light-blue hover-bg-lightest-blue hover-near-black";
      /* Set target to blank if linking to external site */
      if (links[i].hostname != window.location.hostname) {
        links[i].target = '_blank';
      }
    }
  </script>

  <script type="text/javascript">
    /* - - - CONFIGURATION VARIABLES: MAKE SURE THE ID IS YOURS - - - */
    window.graphcomment_id = 'jivarsound';
    /* - - - DON'T EDIT BELOW THIS LINE - - - */
    (function() {
      var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
      gc.src = 'https://graphcomment.com/js/integration.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
    })();
  </script>

  <script src="https://cdn.plyr.io/3.3.10/plyr.js"></script>
  <script type="text/javascript">
    const players = new Plyr.setup('.js-player');
  </script>

</div>
{{ partial "footer" . }}
</body>

</html>
