<html>
<head>
  {{ template "_internal/google_analytics.html" . }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title }}</title>
</head>
<body style="background: url(/images/bg.jpg) no-repeat center center fixed; background-size: cover;">
  {{ partial "header" (dict "Kind" .Kind "Template" "Single") }}

  <!-- <h1>{{.Title}}</h1>
  <div style="color:grey; font-size:16px;">{{if .Params.Date}}{{ dateFormat "Monday, Jan 2, 2006" .Date }}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
  <div style="font-size:18px;">{{.Content}}</div> -->

  <main class="mw7-ns center avenir near-white bg-near-black o-90 w-90 pa4 mt4">
    <div class="center measure">
      <h2 class="lh-title mb1 mt1 f3-l f4">{{.Title}}</h2>
      <time class="f6 db silver">{{ dateFormat "Jan 2, 2006" .Date }}</time>
      <div class="athelas lh-copy f5-ns f6" id="post-content">{{.Content}}</div>
    </div>
    <div class="bt pa2">
      {{ if .PrevInSection }}
        <a class="link light-blue bg-animate hover-bg-lightest-blue hover-near-black pl2 pr2 fl" href="{{ .PrevInSection.URL }}">← {{ .PrevInSection.Title }}</a>
      {{end}}
      {{ if .NextInSection }}
        <a class="link light-blue bg-animate hover-bg-lightest-blue hover-near-black pl2 pr2 fr" href="{{ .NextInSection.URL }}">{{ .NextInSection.Title }} →</a>
      {{ end }}
    </div>
  </main>

  <script type="text/javascript">
    /* Style all the links in {{.Content}} */
    var links = document.getElementById("post-content").getElementsByTagName("a");
    for (var i = 0; i < links.length; i++) {
      links[i].className = "link light-blue";
      /* Set target to blank if linking to external site */
      if (links[i].hostname != window.location.hostname) {
        links[i].target = '_blank';
      }
    }
  </script>

  {{ partial "footer" . }}
</body>

</html>
