<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title }}</title>
</head>
<body style="background: url(/images/bg.jpg) no-repeat center center fixed; background-size: cover;">
  {{ partial "header" (dict "Kind" .Kind "Template" "Single") }}

  <!-- <h1>{{.Title}}</h1>
  <div style="color:grey; font-size:16px;">{{if .Params.Date}}{{ dateFormat "Monday, Jan 2, 2006" .Date }}{{end}}</div>
  <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
  <div style="font-size:18px;">{{.Content}}</div> -->

  <main class="mw7-ns center avenir near-white bg-near-black o-90 w-90 pa4 mt4">
    <div class="center measure">
      <h2 class="lh-title mb1 mt1 f3-l f4">{{.Title}}</h2>
      <time class="f6 db silver">{{ dateFormat "Jan 2, 2006" .Date }}</time>
      <div class="athelas lh-copy f5-ns f6">{{.Content}}</div>
    </div>

  </main>

  {{ partial "footer" . }}
</body>
</html>
