<footer class="pv3 ph5-ns tc footer mt2">
  <div class="socials white-60 hover-lightest-blue dib">
    <a class="link white-60 hover-lightest-blue grow dib ph3-ns ph2-m ph1" href="https://www.youtube.com/channel/UCj5DnY-ABjZZZum1EPm5Ueg" title="YouTube" target="_blank" rel="noreferrer">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
  
    <a class="link white-60 hover-lightest-blue grow dib ph3-ns ph2-m ph1" href="https://www.soundcloud.com/jivarsound" title="SoundCloud" target="_blank" rel="noreferrer">
      <i class="fab fa-soundcloud fa-2x"></i>
    </a>
  
    <a class="link white-60 hover-lightest-blue grow dib ph3-ns ph2-m ph1" href="https://www.twitter.com/jivarsound" title="Twitter" target="_blank" rel="noreferrer">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
  
    <a class="link white-60 hover-lightest-blue grow dib ph3-ns ph2-m ph1" href="https://www.instagram.com/jivarsound" title="Instagram" target="_blank" rel="noreferrer">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
  
    <a class="link white-60 hover-lightest-blue grow dib ph3-ns ph2-m ph1" href="https://www.facebook.com/jivarsound" title="Facebook" target="_blank" rel="noreferrer">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
  
    <a class="link white-60 hover-lightest-blue grow dib ph3-ns ph2-m ph1" href="https://metapop.com/jivarsound" title="Metapop" target="_blank" rel="noreferrer">
      <i class="icon-metapop-white"></i>
    </a>
  </div>


  <nav class="avenir bt bb b--white-60 tc mw7 center mt3">
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/">home</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/licensing">licensing</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/services-and-studio">services & studio</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/blog">blog</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/faq">faq</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/free-beats-policy">free beats policy</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/disclaimer">disclaimer</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/contact">contact</a>
    <a class="f7 link white-60 ttu bg-animate hover-bg-lightest-blue hover-near-black dib pa2" href="/about">about</a>
  </nav>

  <small class="avenir white-60 f6 db tc mt3">
    © {{ now.Format "2006" }} <b class="ttu">j.ivar sound llc</b>, All Rights Reserved
  </small>
</footer>
