<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
        content="j.ivar is a musician, studio owner, songwriter, and producer. This site showcases his work.">
  <meta name="google-site-verification" content="jooeyFWU8yn0Y80hIcxpgj51SPmlVpi5A1-6rgcpbo4" />

  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <title>jivar</title>
</head>
<body class="" style="background: url(/images/bg.jpg) no-repeat center center fixed; background-size: cover;">
  <div class="content">
