<section class="center avenir cf w-90 faded-near-white mw7-ns ph4">
  <h1 class="fw2 mb0 lh-title">Licensing Options</h1>
  <div class="dt-l dt--fixed">
    <div class="dtc-l">
      <article class="near-black mw5 mw6-ns center ba mv4">
        <h1 class="f4 ttu tracked tc">Basic</h1>
        <div class="f2 mb3 mt2 ttu tc">$39</div>
        <div class="ph3 bt f7 f6-ns lh-copy pt2">
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Sell 5,000 copies
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Limited to 100,000 streams
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Use for 1 music video
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Upload to Spotify, iTunes, Apple Music, etc.
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Must credit as: "Prod. by j.ivar"
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Untagged .mp3 + .wav
            </div>
          </div>
          <div class="cf mv1 gray">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-times-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              <span class="strike">Tracked-out files | stems</span>
            </div>
          </div>
          <div class="cf mv1 gray">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-times-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              <span class="strike">Paid performances</span>
            </div>
          </div>
          <div class="cf mv1 gray">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-times-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              <span class="strike">Radio airplay</span>
            </div>
          </div>
          <a class="f6 link ba ph3 pv2 mv3 mh5-m mh3 bg-animate hover-bg-lightest-blue near-black flex justify-center"
            href="#">Read Full Terms</a>
        </div>
      </article>
    </div>
    <div class="dtc-l">
      <article class="near-black mw5 mw6-ns center ba mv4">
        <h1 class="f4 ttu tracked tc">Premium</h1>
        <div class="f2 mb3 mt2 ttu tc">$79</div>
        <div class="ph3 bt f7 f6-ns lh-copy pt2">
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Sell 10,000 copies
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Limited to 500,000 streams
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Use for 1 music video
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Upload to Spotify, iTunes, Apple Music, etc.
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Must credit as: "Prod. by j.ivar"
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Untagged .mp3 + .wav
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Tracked-out files | stems
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Paid performances
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Radio airplay on 2 stations
            </div>
          </div>
          <a class="f6 link ba ph3 pv2 mv3 mh5-m mh3 bg-animate hover-bg-lightest-blue near-black flex justify-center"
            href="#">Read Full Terms</a>
        </div>
      </article>
    </div>
    <div class="dtc-l">
      <article class="near-black mw5 mw6-ns center ba mv4">
        <h1 class="f4 ttu tracked tc">Unlimited</h1>
        <div class="f2 mb3 mt2 ttu tc">$179</div>
        <div class="ph3 bt f7 f6-ns lh-copy pt2">
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Sell unlimited copies
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Unlimited streams
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Unlimited music videos
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Upload to Spotify, iTunes, Apple Music, etc.
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Must credit as: "Prod. by j.ivar"
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Untagged .mp3 + .wav
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Tracked-out files | stems
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Paid performances
            </div>
          </div>
          <div class="cf mv1">
            <div class="fl w-10 pl3-m">
              <i class="fas fa-check-circle pr1"></i>
            </div>
            <div class="fl w-90 pl1-m">
              Unlimited radio airplay
            </div>
          </div>
          <a class="f6 link ba ph3 pv2 mv3 mh5-m mh3 bg-animate hover-bg-lightest-blue near-black flex justify-center"
            href="#">Read Full Terms</a>
        </div>
      </article>
    </div>
  </div>
  <p class="i lh-copy mt0 f7 f6-ns center tc">
    * All audio files and license agreements are available for download immediately after you
    make a purchase.
  </p>
</section>