{{ partial "header" . }}

  <section class="center avenir tc">

    <a href="/" class="link">
      <img class="grow hover-white w-40-l w-60" src="images/logo-circle-800-x-800.svg" alt="[IMAGE] j.ivar logo image - black, gray, and white with mountains.">
    </a>

    <p class="center near-white tc">Anthem Redux (Snippet)</p>
    <div class="w-60-ns w-80 center">
      <audio class="js-player" src="audio/anthem-redux.wav" loop></audio>
    </div>

    <p class="center near-white tc">Mat Zo feat. Olan - Problems (j.ivar Remix)</p>
    <div class="w-60-ns w-80 center">
      <audio class="js-player" src="audio/problems-remix.wav" loop></audio>
    </div>

  </section>
  </div>

<script src="https://cdn.plyr.io/3.3.10/plyr.js"></script>
<script>
  const players = new Plyr.setup('.js-player');
</script>

{{ partial "footer" . }}
</body>
</html>
