{{ partial "header" . }}

<section class="avenir mw5 mw7-ns center mt4 mb3 ph5-ns">

  </p>
  <a href="/" class="link tc db pa3 pt0">
    <img class="grow hover-white w5 h5" src="images/logo circle 800 x 800.svg" alt="[IMAGE] j.ivar logo image - black, gray, and white with mountains.">
  </a>

  <div class="center">
    <div class="center white tc pb2">Anthem Redux (Snippet)</div>
  </div>
  <div class="w-50-ns center">
    <audio class="js-player" src="audio/anthem redux.wav" loop></audio>
  </div>

</section>

<script src="https://cdn.plyr.io/3.3.10/plyr.js"></script>
<script type="text/javascript">
  const players = new Plyr.setup('.js-player');
</script>

{{ partial "footer" . }}
</body>
</html>
